In [1]:
#task 1 (i)
print(""""I am signing up for Replit&#39;s 100 days of Python challenge! I will make sure to spend
some time every day coding along, for a minimum of 10 minutes a day. I&#39;ll be using
Replit, an amazing online IDE so I can do this from my phone wherever I happend to be.
No excuses for not coding from the middle of a field!""")

"I am signing up for Replit&#39;s 100 days of Python challenge! I will make sure to spend
some time every day coding along, for a minimum of 10 minutes a day. I&#39;ll be using
Replit, an amazing online IDE so I can do this from my phone wherever I happend to be.
No excuses for not coding from the middle of a field!

In [ ]:
#task 1 (ii)
malware={"mlwr_1":"sudhan","mlwr_2":"nisanth" , "mlwr_head":"yogeshwaran"}
print(malware)
print(malware["mlwr_head"])
print(malware["mlwr_1"])
print(malware["mlwr_2"])
print(len(malware))

{'mlwr_1': 'sudhan', 'mlwr_2': 'nisanth', 'mlwr_head': 'yogeshwaran'}
yogeshwaran
sudhan
nisanth
3

In [ ]:
#task 2
cost=int(input("\nOriginal price : "))
gst=int(input("\nGST percentage : "))

gst_amount=cost*gst/100
total_amount=cost+gst_amount
print("\nGST amount: ",gst_amount)
print("\nNet Price: ",total_amount)

Original price : 12300

GST percentage : 18

GST amount:  2214.0

Net Price:  14514.0

In [ ]:
#task 3
import pandas as pd
cybercrime=pd.DataFrame(
    {"OFFENCE": ["sending threatening message by email", "sending defamatory messages by email", "Forgery of electronic records", "cyber frauds", "email spoofing", "web jacking", "email abuse", "online sale of drugs", "online sale of arms"],
     "LAW": ["503 IPC","499 IPC","463 IPC","420 IPC","463 IPC","383 IPC","500 IPC","NDPS ACT","ARMS ACT"]}
)


# print(cybercrime)


cybercrime.to_csv("students_data.csv")
cybercrime

                                OFFENCE       LAW
0  sending threatening message by email   503 IPC
1  sending defamatory messages by email   499 IPC
2         Forgery of electronic records   463 IPC
3                          cyber frauds   420 IPC
4                        email spoofing   463 IPC
5                           web jacking   383 IPC
6                           email abuse   500 IPC
7                  online sale of drugs  NDPS ACT
8                   online sale of arms  ARMS ACT

In [ ]:
#task 4
import pandas as pd
students_data=pd.DataFrame(
    {"Student_Name": ["Arul", "muthupandi", "sivakasi", "vaikasi", "aadi", "aavani", "puratashi", "karthikai", "margazhi", "panguni"],
     "Age": [20,21,22,23,24,24,23,22,21,20],
     "DOB(year)": [2002,2001,2000,1999,1998,1998,1999,2000,2001,2002],
     "Weight(kg)" : [58,48,65,120,89,77,94,126,133,52],
     "Height(cm)" : [160,140,185,197,168,187,200,175,176,120]}
)

students_data["BMI"]=students_data["Weight(kg)"]/students_data["Height(cm)"]*students_data["Height(cm)"]

students_data["Status"]=students_data["BMI"].apply(lambda x: "Normal" if x>50 and x<80 else "Underweight")
# print(students_data)


students_data.to_csv("students_data.csv")
students_data=pd.read_csv("/content/students_data.csv")
students_data

,Unnamed: 0,Student_Name,Age,DOB(year),Weight(kg),Height(cm),BMI,Status
0,0,Arul,20,2002,58,160,58.0,Normal
1,1,muthupandi,21,2001,48,140,48.0,Underweight
2,2,sivakasi,22,2000,65,185,65.0,Normal
3,3,vaikasi,23,1999,120,197,120.0,Underweight
4,4,aadi,24,1998,89,168,89.0,Underweight
5,5,aavani,24,1998,77,187,77.0,Normal
6,6,puratashi,23,1999,94,200,94.0,Underweight
7,7,karthikai,22,2000,126,175,126.0,Underweight
8,8,margazhi,21,2001,133,176,133.0,Underweight
9,9,panguni,20,2002,52,120,52.0,Normal

In [ ]:
#task 5
def household():
  print("\nCalculating household Eb price")
  unit=int(input("\nNumber of Units used: "))

  if unit<100:
    price=unit*0.50
    print("Your Price : Rs.",price)
  elif unit>101 and unit<200:
    price=unit*0.75
    print("Your Price : Rs.",price)
  elif unit>201 and unit<300:
    price=unit*1.20
    print("Your Price : Rs.",price)
  else:
    price=unit*1.50
    print("Your Price : Rs.",price)

household()

Calculating household Eb price

Number of Units used: 100
Your Price : Rs. 150.0